# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2e2edb8263c2e37981aaad75054f35c0"
name = "XWAN AI SSO"
application_url = "https://xwanstudio.myshopify.com/apps/xwan-ai-sso"
embedded = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]

[app_proxy]
url = "https://xwanstudio.myshopify.com/apps/xwan-ai-sso"
subpath = "xwan-ai-sso"
prefix = "apps"
